<a href="https://colab.research.google.com/github/shreya1110-dev/tiger_analytics_workshop/blob/day_1/tiger_analytics_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Write a function that takens a list as an argument and returns the number of unique triplets such that sum of two elements equals the third element
# eg - [1, 5, 3, 2] - return 2 (1 + 2 = 3 and 3 + 2 =5)

In [39]:
def triplets(a, k):
  res = []
  for i in range(0, len(a)):
    for j in range(i+1, len(a)):
      if((a[i] + a[j]) in a):
        res.append([a[j],a[i],(a[i]+a[j])])
  return res

In [40]:
a = [1,5,6,2,3]
k = 4
print(triplets(a,k))

[[5, 1, 6], [2, 1, 3], [3, 2, 5]]

Q2: Write a function which takes as input a list and two integers (N & K) and returns the Nth smallest number greater than K from the list

In [41]:
def nthsmallest(a,k,n):
  a.sort()
  left = 0
  right = len(a)-1
  while(left <= right):
    mid = (left+right)//2
    if(a[mid]==k):
      return a[mid+n]
    elif(a[mid] > k):
      right = mid-1
    else:
      left = left+1

In [45]:
a = [1,5,6,4,2,3]
k = 2
n = 2
print(nthsmallest(a,k,n))
print(a)

4
[1, 2, 3, 4, 5, 6]

Q3: Write a function that takes as input a string and returns the average word length and the average word length of palindromes if any in the string.
# Clean the input string by removing characters like "!?,;."
# Palindrome words must at least have three letters

In [48]:
def palindrome(a):
  remove_chars = ['!','?',',',';','.']
  s = ""
  for i in range(len(a)):
    if(a[i] in remove_chars):
      continue
    s = s + a[i]
  wc = 0
  cc = 0
  words = s.split()
  avg = 0
  avg_palin = 0
  palin = 0
  for word in words:
    avg += len(word)
    if(len(word)>3 and word[::-1]==word):
      avg_palin += len(word)
      palin += 1
  print("Average length of words is:",avg/len(word))
  print("Average length of palindrome is:", avg_palin/palin)

In [49]:
palindrome("Hi madam, are you madam?")

Average length of words is: 3.6
Average length of palindrome is: 5.0

Q4: Given a string return the first non repeating character. All characters will be lowercase. return -1 if no character is unique

In [60]:
def unique(s):
  dic = {}
  cnt = 0
  for character in s:
    if(character in dic):
      first = character
      dic[character]+=1
    else:
      dic[character] = 1
  if(dic[character] == len(s)):
    return -1
  else:
    return first

In [61]:
print(unique("hiiii"))
print(unique("hello"))
print(unique("hhhh"))

i
l
-1

Given a list, write a function to move all zeroes to the end of it while maintaining the relative order of the non-zero elements.

In [70]:
def move_zeroes(a):
  left = 0
  zeroes = 0
  new = []
  for i in range(0,len(a)):
    if(a[i] == 0):
      zeroes += 1
    else:
      new.append(a[i])
  for i in range(zeroes):
    new.append(0)
  return new

In [71]:
a = [1,5,0,4,5,2]
move_zeroes(a)

[1, 5, 4, 5, 2, 0]