<a href="https://colab.research.google.com/github/shreya1110-dev/tiger_analytics_workshop/blob/day_1/tiger_analytics_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Write a function that takens a list as an argument and returns the number of unique triplets such that sum of two elements equals the third element
# eg - [1, 5, 3, 2] - return 2 (1 + 2 = 3 and 3 + 2 =5)

In [13]:
def triplets(a, k):
  res = []
  for i in range(0, len(a)):
    for j in range(i+1, len(a)):
      if((a[i] + a[j]) in a):
        res.append([a[j],a[i],(a[i]+a[j])])
  return res

In [14]:
a = [1,5,6,2,3]
k = 4
print(triplets(a,k))

[[5, 1, 6], [2, 1, 3], [3, 2, 5]]

Q2: Write a function which takes as input a list and two integers (N & K) and returns the Nth smallest number greater than K from the list

In [15]:
def nthsmallest(a,k,n):
  a.sort()
  left = 0
  right = len(a)-1
  while(left <= right):
    mid = (left+right)//2
    if(a[mid]==k):
      return a[mid+n]
    elif(a[mid] > k):
      right = mid-1
    else:
      left = left+1

In [16]:
a = [1,5,6,4,2,3]
k = 2
n = 2
print(nthsmallest(a,k,n))
print(a)

4
[1, 2, 3, 4, 5, 6]

Q3: Write a function that takes as input a string and returns the average word length and the average word length of palindromes if any in the string.
# Clean the input string by removing characters like "!?,;."
# Palindrome words must at least have three letters

In [17]:
def palindrome(a):
  remove_chars = ['!','?',',',';','.']
  s = ""
  for i in range(len(a)):
    if(a[i] in remove_chars):
      continue
    s = s + a[i]
  wc = 0
  cc = 0
  words = s.split()
  avg = 0
  avg_palin = 0
  palin = 0
  for word in words:
    avg += len(word)
    if(len(word)>3 and word[::-1]==word):
      avg_palin += len(word)
      palin += 1
  print("Average length of words is:",avg/len(word))
  print("Average length of palindrome is:", avg_palin/palin)

In [18]:
palindrome("Hi madam, are you madam?")

Average length of words is: 3.6
Average length of palindrome is: 5.0

Q4: Given a string return the first non repeating character. All characters will be lowercase. return -1 if no character is unique

In [19]:
def unique(s):
  dic = {}
  cnt = 0
  for character in s:
    if(character in dic):
      first = character
      dic[character]+=1
    else:
      dic[character] = 1
  if(dic[character] == len(s)):
    return -1
  else:
    return first

In [20]:
print(unique("hiiii"))
print(unique("hello"))
print(unique("hhhh"))

i
l
-1

Given a list, write a function to move all zeroes to the end of it while maintaining the relative order of the non-zero elements.

In [21]:
def move_zeroes(a):
  left = 0
  zeroes = 0
  new = []
  for i in range(0,len(a)):
    if(a[i] == 0):
      zeroes += 1
    else:
      new.append(a[i])
  for i in range(zeroes):
    new.append(0)
  return new

In [22]:
a = [1,5,0,4,5,2]
move_zeroes(a)

[1, 5, 4, 5, 2, 0]

json files

Read the json data file

In [23]:
import json

with open('restaurent_ratings (1).json', 'r') as f:
  data = json.load(f)

data

{'page_1': [{'city': 'Denver',
   'estimated_cost': 180,
   'id': 31,
   'name': 'Sushi Kashiba',
   'user_rating': {'average_rating': 4.9, 'votes': 4175}},
  {'city': 'Denver',
   'estimated_cost': 120,
   'id': 32,
   'name': 'Peninsula Grand Hotel',
   'user_rating': {'average_rating': 4.9, 'votes': 644}},
  {'city': 'Denver',
   'estimated_cost': 150,
   'id': 33,
   'name': 'Lord Of The Drinks',
   'user_rating': {'average_rating': 4.7, 'votes': 2316}},
  {'city': 'Denver',
   'estimated_cost': 150,
   'id': 34,
   'name': 'Lord of the Drinks',
   'user_rating': {'average_rating': 4.8, 'votes': 2086}},
  {'city': 'Denver',
   'estimated_cost': 160,
   'id': 35,
   'name': 'JLWA',
   'user_rating': {'average_rating': 4.7, 'votes': 2825}},
  {'city': 'Denver',
   'estimated_cost': 180,
   'id': 36,
   'name': 'Plum by Bent Chair',
   'user_rating': {'average_rating': 4.9, 'votes': 1657}},
  {'city': 'Denver',
   'estimated_cost': 120,
   'id': 37,
   'name': 'Hitchki',
   'user_rating': {'average_rating': 4.8, 'votes': 3174}},
  {'city': 'Denver',
   'estimated_cost': 140,
   'id': 38,
   'name': 'Carter Road Social',
   'user_rating': {'average_rating': 4.6, 'votes': 2311}},
  {'city': 'Denver',
   'estimated_cost': 120,
   'id': 39,
   'name': "R' ADDA",
   'user_rating': {'average_rating': 4.9, 'votes': 4255}},
  {'city': 'Denver',
   'estimated_cost': 180,
   'id': 310,
   'name': 'Ada Kitchen',
   'user_rating': {'average_rating': 4.5, 'votes': 3840}}],
 'page_2': [{'city': 'Denver',
   'estimated_cost': 120,
   'id': 311,
   'name': 'Hitch',
   'user_rating': {'average_rating': 4.8, 'votes': 3277}},
  {'city': 'Denver',
   'estimated_cost': 160,
   'id': 312,
   'name': 'The Fusion Kitchen',
   'user_rating': {'average_rating': 4.5, 'votes': 1463}},
  {'city': 'Denver',
   'estimated_cost': 140,
   'id': 313,
   'name': 'Social',
   'user_rating': {'average_rating': 4.6, 'votes': 7838}},
  {'city': 'Denver',
   'estimated_cost': 160,
   'id': 314,
   'name': 'Rude Lounge',
   'user_rating': {'average_rating': 4.1, 'votes': 4353}},
  {'city': 'Denver',
   'estimated_cost': 120,
   'id': 315,
   'name': 'Hi Lounge',
   'user_rating': {'average_rating': 4.7, 'votes': 1687}},
  {'city': 'Denver',
   'estimated_cost': 10,
   'id': 316,
   'name': 'BKC DIVE',
   'user_rating': {'average_rating': 4.6, 'votes': 5687}},
  {'city': 'Denver',
   'estimated_cost': 140,
   'id': 317,
   'name': 'Capital Social',
   'user_rating': {'average_rating': 4.4, 'votes': 2937}},
  {'city': 'Denver',
   'estimated_cost': 80,
   'id': 318,
   'name': "Joey's Pizza",
   'user_rating': {'average_rating': 4.6, 'votes': 6909}},
  {'city': 'Denver',
   'estimated_cost': 140,
   'id': 319,
   'name': "Chili's American Grill & Bar",
   'user_rating': {'average_rating': 4.6, 'votes': 6814}},
  {'city': 'Denver',
   'estimated_cost': 10,
   'id': 320,
   'name': 'Vedge',
   'user_rating': {'average_rating': 4.7, 'votes': 3837}}],
 'page_3': [{'city': 'Denver',
   'estimated_cost': 80,
   'id': 321,
   'name': "Joey's Pizza",
   'user_rating': {'average_rating': 4.6, 'votes': 8289}},
  {'city': 'Denver',
   'estimated_cost': 110,
   'id': 322,
   'name': "Grandmama's Cafe",
   'user_rating': {'average_rating': 4, 'votes': 3089}},
  {'city': 'Denver',
   'estimated_cost': 90,
   'id': 323,
   'name': 'Fun Republic Social',
   'user_rating': {'average_rating': 4.6, 'votes': 2914}},
  {'city': 'Denver',
   'estimated_cost': 150,
   'id': 324,
   'name': 'English Kitchen',
   'user_rating': {'average_rating': 4.6, 'votes': 1887}},
  {'city': 'Denver',
   'estimated_cost': 160,
   'id': 325,
   'name': 'Pi Bar and Kitchen',
   'user_rating': {'average_rating': 4.6, 'votes': 1927}},
  {'city': 'Denver',
   'estimated_cost': 80,
   'id': 326,
   'name': 'Coffee Culture',
   'user_rating': {'average_rating': 4.1, 'votes': 5634}},
  {'city': 'Denver',
   'estimated_cost': 160,
   'id': 327,
   'name': 'S Kitchen',
   'user_rating': {'average_rating': 4.5, 'votes': 1980}},
  {'city': 'Denver',
   'estimated_cost': 80,
   'id': 328,
   'name': 'Timess Square',
   'user_rating': {'average_rating': 4.4, 'votes': 1648}},
  {'city': 'Denver',
   'estimated_cost': 180,
   'id': 329,
   'name': 'House Of Tipsy',
   'user_rating': {'average_rating': 4.5, 'votes': 1558}},
  {'city': 'Denver',
   'estimated_cost': 280,
   'id': 330,
   'name': 'Yauatcha',
   'user_rating': {'average_rating': 4.8, 'votes': 5359}}],
 'page_4': [{'city': 'Denver',
   'estimated_cost': 160,
   'id': 331,
   'name': 'HOP : House of Party',
   'user_rating': {'average_rating': 4.7, 'votes': 813}},
  {'city': 'Denver',
   'estimated_cost': 140,
   'id': 332,
   'name': 'Palladium Social',
   'user_rating': {'average_rating': 4.9, 'votes': 4892}},
  {'city': 'Denver',
   'estimated_cost': 300,
   'id': 333,
   'name': 'Bayroute',
   'user_rating': {'average_rating': 4.8, 'votes': 1466}},
  {'city': 'Denver',
   'estimated_cost': 150,
   'id': 334,
   'name': 'Garage Inc. Public House',
   'user_rating': {'average_rating': 4.5, 'votes': 684}},
  {'city': 'Denver',
   'estimated_cost': 70,
   'id': 335,
   'name': 'Jimis Burger',
   'user_rating': {'average_rating': 4.6, 'votes': 3680}},
  {'city': 'Denver',
   'estimated_cost': 60,
   'id': 336,
   'name': 'Eat Play Love',
   'user_rating': {'average_rating': 4, 'votes': 1178}},
  {'city': 'Denver',
   'estimated_cost': 150,
   'id': 337,
   'name': 'Tipsy Gypsy',
   'user_rating': {'average_rating': 4.5, 'votes': 2918}},
  {'city': 'Denver',
   'estimated_cost': 60,
   'id': 338,
   'name': 'Cafe Safar',
   'user_rating': {'average_rating': 4, 'votes': 2640}},
  {'city': 'Denver',
   'estimated_cost': 170,
   'id': 339,
   'name': 'The Cult',
   'user_rating': {'average_rating': 4.4, 'votes': 3037}},
  {'city': 'Denver',
   'estimated_cost': 130,
   'id': 340,
   'name': 'MRP - My Regular Place',
   'user_rating': {'average_rating': 4, 'votes': 2302}}]}

# Q6.2: How many pages of data is available
# Q6.3: How many restaurent ratings are present in each page?

In [24]:
for i in data.keys():
  print(i, len(data[i]))

page_1 10
page_2 10
page_3 10
page_4 10

# Q6.4: Which restaurent has the highest estimated cost in each page and across all pages

In [25]:
overall_highest_val = 0
for page in data:
  highest_val = 0
  for i in data[page]:
    if i['estimated_cost'] > highest_val:
      highest_val = i['estimated_cost']
    if highest_val > overall_highest_val:
      overall_highest_val = highest_val
  print("Highest value in",page,highest_val)
print("Overall highest value: ",overall_highest_val)

Highest value in page_1 180
Highest value in page_2 160
Highest value in page_3 280
Highest value in page_4 300
Overall highest value:  300

# Q6.5: Print the name and rating of restaurents which have the highest rating in each page

In [26]:
d = {}
for page in data:
  highest_val = 0
  for i in data[page]:
    if i['user_rating']['average_rating'] > highest_val:
      highest_val = i['user_rating']['average_rating']
    d[page] = highest_val

for page in data:
  for i in data[page]:
     if i['user_rating']['average_rating'] == d[page]:
       print("Name: ",i['name'], " Rating: ",i['user_rating']['average_rating'])

Name:  Sushi Kashiba  Rating:  4.9
Name:  Peninsula Grand Hotel  Rating:  4.9
Name:  Plum by Bent Chair  Rating:  4.9
Name:  R' ADDA  Rating:  4.9
Name:  Hitch  Rating:  4.8
Name:  Yauatcha  Rating:  4.8
Name:  Palladium Social  Rating:  4.9