<a href="https://colab.research.google.com/github/shreya1110-dev/tiger_analytics_workshop/blob/main/tiger_analytics_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Write a function that takens a list as an argument and returns the number of unique triplets such that sum of two elements equals the third element
# eg - [1, 5, 3, 2] - return 2 (1 + 2 = 3 and 3 + 2 =5)

In [39]:
def triplets(a, k):
  res = []
  for i in range(0, len(a)):
    for j in range(i+1, len(a)):
      if((a[i] + a[j]) in a):
        res.append([a[j],a[i],(a[i]+a[j])])
  return res

In [40]:
a = [1,5,6,2,3]
k = 4
print(triplets(a,k))

[[5, 1, 6], [2, 1, 3], [3, 2, 5]]

Q2: Write a function which takes as input a list and two integers (N & K) and returns the Nth smallest number greater than K from the list

In [41]:
def nthsmallest(a,k,n):
  a.sort()
  left = 0
  right = len(a)-1
  while(left <= right):
    mid = (left+right)//2
    if(a[mid]==k):
      return a[mid+n]
    elif(a[mid] > k):
      right = mid-1
    else:
      left = left+1

In [45]:
a = [1,5,6,4,2,3]
k = 2
n = 2
print(nthsmallest(a,k,n))
print(a)

4
[1, 2, 3, 4, 5, 6]

Q3: Write a function that takes as input a string and returns the average word length and the average word length of palindromes if any in the string.
# Clean the input string by removing characters like "!?,;."
# Palindrome words must at least have three letters